<p id="notice"><%= notice %></p>

<form>

  <div class="form-group">
    <%= label_tag nil, @coin.description %>
    <%= text_field_tag nil, @coin.description, class:"form-control" %>
  </div>

   <div class="form-group">
    <%= label_tag nil, @coin.acronym %>
    <%= text_field_tag nil, @coin.acronym, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag nil, @coin.url_image %>
    <%= text_field_tag nil, @coin.url_image, class:"form-control" %>
    <%# image_tag coin.url_image, width: 25, height: 25 %>
  </div>

  <div class="form-group">
    <%= label_tag nil, @coin.mining_type.description %>
    <%= text_field_tag nil, @coin.mining_type.description, class:"form-control" %>
  </div>

</form>


<%= link_to t('links.edit'), edit_coin_path(@coin) %> |
<%= link_to t('links.back'), coins_path %>
